<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Tailwind Starter Template - Landing Page Template: Tailwind Toolbox
    </title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }
      /* .moveOver{
          margin-left: 10px;
      } */
    </style>
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <!--Nav-->
    
  
    <div class="pt-24">
        <div class="w-full">
            <h1 class="mt-6 text-center text-6xl">The Body Is Not An Apology</h1>
           </div>
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        
        <!--Left Col-->
        <div style="margin-top: 80px; margin-left: 30%;" class="flex w-full md:w-2/5 justify-center items-start text-center md:text-left">
           
         
          <a href="/login"><button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Login
          </button></a>
          <a href="/signup"><button style="margin-left: 100px" class="ml-3 lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Sign Up
          </button></a>
        </div>
       
      </div>
    </div>
   
   

  
     
    </footer>